{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "semi": 0,
    "@typescript-eslint/semi": [2, "never"],
    "space-before-function-paren": 0,
    "@typescript-eslint/space-before-function-paren": [2, "always"],
  }
}
