@import './variables';

@mixin gobImg($url) {
  background-image: url($img-prefix + $url);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: LLPIXEL;
  src: url('../assets/fonts/LLPIXEL.woff');
}
