@use 'sass:math';
@use '../styles/mixins.scss';

$img_w: 640px;
$img_h: 1024px;
$img_cols: 10;
$base-width: math.div($img_w, $img_cols);
$border-radius: 6px;
$xl-cols: 15;
$xl-rows: 13;

.page {
  @include mixins.flex-center;

  width: 100vw;
  height: 100vh;
  background-color: orange;
  font-family: 'LLPIXEL';
}

.box {
  display: grid;
  grid-template-rows: repeat($xl-rows, $base-width);
  grid-template-columns: repeat($xl-cols, $base-width);
  max-width: $base-width * $xl-cols;
  max-height: $base-width * $xl-rows;

  .item {
    @include mixins.gobImg('/pkm/quest.png');

    overflow: hidden;
    background-repeat: no-repeat;
    background-size: $img_w $img_h;
    background-origin: padding-box;
    border-radius: $border-radius;
    cursor: url('../assets/icons/ball.png') 0 0, pointer;

    &.get {
      opacity: 0;
    }

    &.whoami {
      background-position: 0 0;
    }
  }

  .content {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 13;
    grid-template-areas:
      'head head head'
      'lsd  egg  rsd'
      'foot foot foot';
    grid-template-rows: 1fr $base-width 1fr;
    grid-template-columns: 1fr $base-width 1fr;
    color: #fff;
    font-size: 56px;
    border-radius: $border-radius;
  }

  @each $name in head, lsd, egg, rsd, foot {
    .#{$name} {
      grid-area: $name;
    }
  }

  .head,
  .foot {
    display: flex;
    justify-content: center;
  }

  .head {
    align-items: flex-end;
  }

  .foot {
    align-items: flex-start;
    font-size: 32px;
    cursor: pointer;
  }
}

@for $i from 0 through 151 {
  .pkm-#{$i} {
    $x: -($i % $img_cols * $base-width);
    $y: -(math.floor(math.div($i, $img_cols)) * $base-width);

    background-position: $x $y;
  }
}

@media screen and (max-width: 576px) {
  $scale: 0.625;
  $xs-width: $base-width * $scale;
  $xs-cols: 9;
  $xs-rows: 19;

  .box {
    grid-template-rows: repeat($xs-rows, $xs-width);
    grid-template-columns: repeat($xs-cols, $xs-width);
    max-width: $base-width * $xs-cols;
    max-height: $base-width * $xs-rows;

    .content {
      grid-row-start: 9;
      grid-row-end: 12;
      grid-column-start: 2;
      grid-column-end: 9;
      grid-template-rows: 1fr $xs-width 1fr;
      grid-template-columns: 1fr $xs-width 1fr;
      font-size: 28px;
    }

    .item {
      background-size: $img_w * $scale $img_h * $scale;
    }

    .foot {
      font-size: 18px;
    }
  }

  @for $i from 0 through 151 {
    .pkm-#{$i} {
      $x: -($i % $img_cols * $xs-width);
      $y: -(math.floor(math.div($i, $img_cols)) * $xs-width);

      background-position: $x $y;
    }
  }
}
