@import '../styles/index.scss';

@use 'sass:math';

// 13 15 3 12 6 11
// 15 13 4 13 5 14
$img-width: 640px;
$img-cols: 10;
$base-width: math.div($img-width, $img-cols);
$columns: 15;
$rows: 13;
$border-radius: 6px;

.page {
  @extend .flex-center;

  width: 100vw;
  height: 100vh;
  background-color: orange;
}

.box {
  display: grid;
  grid-template-rows: repeat($rows, $base-width);
  grid-template-columns: repeat($columns, $base-width);
  max-width: $base-width * $columns;
  max-height: $base-width * $rows;

  .item {
    @include gobImg('/pkm/quest.png');

    overflow: hidden;
    background-repeat: no-repeat;
    background-size: $img-width auto;
    background-origin: padding-box;
    border-radius: $border-radius;

    &.get {
      opacity: 0;
    }
  }

  .content {
    display: grid;
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 13;
    grid-template-areas:
      'head head head'
      'lsd  egg  rsd'
      'foot foot foot';
    grid-template-rows: 1fr $base-width 1fr;
    grid-template-columns: 1fr $base-width 1fr;
    color: #fff;
    font-size: 56px;
    border-radius: $border-radius;
  }

  @each $name in head, lsd, egg, rsd, foot {
    .#{$name} {
      grid-area: $name;
    }
  }

  .head,
  .foot {
    display: flex;
    justify-content: center;
  }

  .head {
    align-items: flex-end;
  }

  .foot {
    align-items: flex-start;
    font-size: 32px;
    cursor: pointer;
  }
}

@for $i from 0 through 151 {
  .pkm-#{$i} {
    $x: -($i % $img-cols * $base-width);
    $y: -(math.floor(math.div($i, $img-cols)) * $base-width);

    background-position: $x $y;
  }
}
